<!DOCTYPE html>
<html>
<<<<<<< HEAD

<head>
  <title>Everything Calgary</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div id="react-root"></div>
  <script type="text/javascript" src="/javascripts/bundle.js"></script>
  <div id="map"></div>
  <% <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=#{ENV['YOUR_API_KEY']}%>&libraries=places&callback=initMap"
  async defer></script> %>
</body>

</html>
=======
  <head>
    <title>Everything Calgary</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
>>>>>>> 23090f131c073fc0d78326fba483edfab87a36ad
