#events-modal{
  min-width: 900px;
  .events-card{
    white-space: normal;
    .event-date {
      min-width: 125px;
    }
    .event-time {
      min-width: 155px;
    }
    .event-address {
      min-width: 275px;
    }
  }

}
#news-modal{
  min-width: 1100px;
}
.news-body{
  min-width: 1100px;
}
.news-modal{
  min-width: 1100px;
  .news-card{
    min-width: 1000px;
    .pubdate {
      min-width: 55px;
    }
  }
}

#traffic-modal {
  min-width: 1000px;
  .date{
    min-width:45px;
  }
}

.career-date {
  min-width: 145px;
  text-align: center;
}
.career-date {
  max-width: 445px;
  text-align: center;
}

.fact-column {
  text-align: center;
}