$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.footer {
  margin: 0;
  padding: 5px;
  background-color: white;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  p {
    padding: 10px;
    margin: 0;
  }
}