// put bootstrap first so that all of the other imports 
// that come after can overwrite it
@import "~bootstrap/dist/css/bootstrap.css";

@import 'map';
@import 'footer';
@import 'navbar';
@import 'sidenav';
@import 'autocomplete';
@import url('https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet');

$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;



.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  background-size: contain;
  background-image: url("https://cdn.skyrisecities.com/sites/default/files/images/articles/2016/10/23252/23252-80921.jpeg");
  background-repeat: repeat;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bevan', bold;
  min-height: 100vh;
  .jumbotron {
    background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-cityscape-01-aged-pixel.jpg') no-repeat center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    form {
      position: relative;
      justify-items: center;
      ul {
        position: absolute;
        top: 43px;
        width: 300px;
        background: white;
      }
      button {
        margin-left: 10px;
      }
    }
  }
}

