// put bootstrap first so that all of the other imports 
// that come after can overwrite it
@import "~bootstrap/dist/css/bootstrap.css";

@import 'map';
@import 'footer';
@import 'navbar';
@import 'sidenav';
@import 'autocomplete';
@import url('https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;



.main {
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-image: url("https://cdn.skyrisecities.com/sites/default/files/images/articles/2016/10/23252/23252-80921.jpeg");
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
  #main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .jumbotron {
    flex: 1;
    padding: 0;
    margin: 0;
    background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-cityscape-01-aged-pixel.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    hr {
      color: $color2;
      background-color: $color2;
      width: 150px;
    }
    input {
      border-radius: 3px;
      height: 35px;

    }
    form {
      position: relative;
      justify-items: center;
      padding-top: 18px;
      margin-left: 70px;
      ul {
        position: absolute;
        top: 70px;
        width: 300px;
        background: white;
      }
      button {
        margin-left: 10px;
        height: 35px;
        align-content: center;
        background-color: $color5;
        color: white;
      }
    }
  }
  .data-table{
    border: black solid 2px;
      td, th {
        border-bottom: black solid 2px; 
        border-right: black solid 2px;
      }
  }
}

