$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

#map {
  height: 425px;
  margin-right: 10px;
}

/* Optional: Makes the sample page fill the window. */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.col {
  height: 100%;
}

.mapCol {
  margin: 0 15px;
  border: $color2 solid 0.8px;
  padding: 0;
  overflow: hidden;
}

.row {
  padding: 0;
  margin: 0;
  height: 100%;
}
