$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.sticky-top {
  position: sticky
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  color: white;
  #logo {
    max-height: 48px;
    border-radius: 7px;
  }
  section {
    display: flex;
    justify-content: space-around;
  }
  .btn2 {
    bottom: 50px;
    background-color: $color5;
    border-color: $color5;
    outline: none !important;
    box-shadow: none;
    margin-right: 10px;
  }
  .btn2:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  form {
    position: relative;
    ul {
      position: absolute;
      top: 43px;
      width: 300px;
      background: white;
    }
    button {
      margin-left: 10px;
    }
  }
  #logo:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
