$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.sticky-top {
  position: sticky
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $color3;
}