.darren-holder {
  .modal-content {
    min-width: 1100px;

    .modal-body {
      display: flex;
      justify-content: space-around;
    }
  }
}




.darren-card {
  min-width: 200px;
  max-width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
}
@media (min-width: 576px) {

    .card-deck .card {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
