$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.darren-holder {
  .modal-header {
    display:flex;
    justify-content: space-between !important;

    .rankings {
      float:right;
    }
  }

  .modal-content {
    min-width: 1100px;

    .modal-footer {
      justify-content: flex-start;
      font-weight: bold;
    }

    .modal-body {
      display: flex;
      justify-content: space-around;

      .ranking {
        text-align: center;
        font-size: 20px;
        padding-bottom:10px;
        font-weight: bold;

      }

      .darren-card {
          min-width: 200px;
          max-width: 200px;
          min-height: 180px;
          margin: 0;
          padding: 0;
          margin-right: 5px;
          margin-left: 5px;
          text-align: center;

          .card-title {
            font-size: 20px;
          }

          .card-subtitle {
            color: black !important;
            border-radius: 15px;
            font-size: 25px;
          }

          .card-text {
            position: absolute;
            bottom: 0;
          }
        }
    }
  }
}

@media (min-width: 576px) {

    .card-deck .card {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
