$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.darren-holder {
  .modal-content {
    min-width: 1100px;

    .modal-body {
      display: flex;
      justify-content: space-around;
    }
  }
}

.darren-card {
  min-width: 200px;
  max-width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
}
@media (min-width: 576px) {

    .card-deck .card {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
