$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;

.wrapper {
  display: flex;
  width: auto;
  align-items: stretch;
}

.sidebar-header {
  border: 1px white solid;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #676767;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  background: $color5;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid $color5;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}

#sidebar ul li a:hover {
  color: $color4;
  background: #fff;
  cursor: pointer;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: $color4;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $color4;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: $color4;
}

a.article,
a.article:hover {
  background: $color4 !important;
  color: #fff !important;
  cursor: pointer;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}